.Login {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  align-items: center;
  justify-content: center;
}
.Login form {
  position: absolute;
  top: 13.34%;
  /* right: 38.12%;
  left: 38.12%; */
  width: 456px;
  text-align: center;
  transition: var(--transition);
}

.Logo,
.Login .AppButton,
.loginText {
  display: block;
  width: 100%;
}
.Login .AppInput {
  width: 90%;
}
.Login .AppInput:nth-child(odd) {
  margin-top: 35px;
}
.Login .AppInput:nth-child(even) {
  margin-top: 10px;
}
.Login .AppButton {
  margin-top: 40px;
}
.Login form div {
  margin-top: 18px;
}
.Login form div text:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
}
.loginText {
  color: var(--font-white) !important;
  letter-spacing: 0.19em;
  margin-top: 18px;
}
.Login .SmallText {
  display: inline;
}
.Login .SmallText a {
  color: var(--font-gray);
  transition: 0.2s;
}
.Login .SmallText a:hover {
  color: var(--font-white);
}
@media (max-width: 850px) {
  .Login form {
    width: 304px;
  }
}
