#root {
  --background: #000000;
  --background-brighter: #18181a;
  --font-white: #d9d9d9;
  --font-grey: #999999;
  --color-calories: #ffcece;
  --color-proteins: #cef3ff;
  --color-fats: #ffebce;
  --color-carbohydrates: #e7ceff;
  --font-weight: 500;
  --button-hover: #36363a;
  --border-input: 2px;
  --transition: 0.5s cubic-bezier(0.67, 0, 0.4, 1.2);
  background-color: var(--background);
  overflow: hidden !important;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}
* {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

@media (min-width: 520px) {
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #454545 #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px !important;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #343434 !important;
    border-radius: 8px;
  }
}
